# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#my exclude files
*.sdf
*.suo
debug/
ipch/
x64/
simpleOCR/Debug/
simpleOCR/res/
simpleOCR/testPic/
simpleOCR/x64/
simpleOCR/imgROI/
simpleOCR/result/
*.aps
*.vcxproj
*.filters
*.user
*.rc
*.txt